<h1>Effectifs</h1>

<div class="form-control w-50">
  <label for="equipe">Veuillez sélectionner un effectif :</label>
  <select
    (change)="loadEffectif()"
    id="equipe"
    [(ngModel)]="equipe"
    class="form-control"
    name="equipe"
  >
    <option [ngValue]="equipe" *ngFor="let equipe of equipes">
      {{ equipe.ville }} {{ equipe.franchise }}
    </option>
  </select>
</div>

<div *ngIf="joueurs.length != 0">
  <h2>Listes des joueurs</h2>
  <table class="table">
    <tr>
      <th>Id :</th>
      <th>Prénom :</th>
      <th>Nom :</th>
      <th>Numéro :</th>
      <th>Taille :</th>
      <th>Poids :</th>
      <th>Équipe :</th>

      <th>Date de naissance :</th>
      <th>Salaire :</th>
      <th>Statut :</th>
      <th>Poste :</th>

      <th>Vitesse :</th>
      <th>Endurance :</th>
      <th>Force :</th>
      <th>Détente :</th>
      <th>Agilité :</th>
    </tr>
    <tr *ngFor="let joueur of joueurs">
      <td>{{ joueur.id }}</td>
      <td>{{ joueur.prenom }}</td>
      <td>{{ joueur.nom }}</td>
      <td>{{ joueur.numero_maillot }}</td>
      <td>{{ joueur.taille }}</td>
      <td>{{ joueur.poids }}</td>
      <td>{{ joueur.equipe?.franchise }}</td>

      <td>{{ joueur.date_naissance | date : "dd/MM/yyyy" }}</td>
      <td>{{ joueur.salaire }}</td>
      <td>{{ joueur.statut }}</td>
      <td>{{ joueur.poste }}</td>

      <td>{{ joueur.aptitudesPhysiques?.vitesse }}</td>
      <td>{{ joueur.aptitudesPhysiques?.endurance }}</td>
      <td>{{ joueur.aptitudesPhysiques?.force }}</td>
      <td>{{ joueur.aptitudesPhysiques?.detente }}</td>
      <td>{{ joueur.aptitudesPhysiques?.agilite }}</td>

      <td>
        <a
          class="btn btn-outline-primary"
          routerLink="/joueur/edit/{{ joueur.id }}"
          >Editer</a
        >
      </td>
      <td></td>
    </tr>
  </table>
</div>
