<div class="about-container">
  <div class="account-container">
    <div class="account-sidebar">
      <h1>Mon compte</h1>
    </div>

    <div class="account-content">
      <div *ngIf="compte">
        <h2>Informations personnelles</h2>
        <div class="account-details">
          <p>Prénom: {{ compte.prenom }}</p>
          <p>Nom: {{ compte.nom }}</p>
          <p>Email: {{ compte.email }}</p>
          <p>Login: {{ compte.login }}</p>
        </div>

        <div *ngIf="!editMode">
          <button (click)="toggleEditMode()">Modifier ✏️</button>
        </div>

        <div *ngIf="editMode">
          <h2>Modifier mes informations</h2>
          <form (submit)="saveCompte()">
            <label for="nomInput">Prénom</label>
            <input
              type="text"
              id="prenomInput"
              name="prenomInput"
              [(ngModel)]="compte.prenom"
            /><br />

            <label for="nomInput">Nom</label>
            <input
              type="text"
              id="nomInput"
              name="nomInput"
              [(ngModel)]="compte.nom"
            /><br />

            <label for="emailInput">Email</label>
            <input
              type="email"
              id="emailInput"
              name="emailInput"
              [(ngModel)]="compte.email"
            /><br />

            <label for="nomInput">Login</label>
            <input
              type="text"
              id="loginInput"
              name="loginInput"
              [(ngModel)]="compte.login"
            /><br />

            <label for="nomInput">Mot de passe</label>
            <input
              type="password"
              id="passwordInput"
              name="passwordInput"
              [(ngModel)]="compte.password"
            /><br />

            <button type="submit">Enregistrer</button>
          </form>
          <button type="button" (click)="toggleEditMode()">Annuler</button>
        </div>
      </div>
    </div>
  </div>
</div>
