<div class="about-container">
  <h1>Listes des équipes</h1>
  <table class="table">
    <tr>
      <th>Id :</th>
      <th>Franchise :</th>
      <th>Ville :</th>
      <th>Stade :</th>
      <th>Compte :</th>
    </tr>
    <tr *ngFor="let e of equipeFiltre()">
      <td>{{ e.id }}</td>
      <td>{{ e.franchise }}</td>
      <td>{{ e.ville }}</td>
      <td>{{ e.stade?.nom }}</td>
      <td>{{ e.compte?.nom }} {{ e.compte?.prenom }}</td>

      <td>
        <a class="btn btn-outline-primary" routerLink="/equipe/edit/{{ e.id }}"
          >Editer</a
        >
      </td>
      <td>
        <button (click)="deleteEquipe(e.id!)" class="btn btn-outline-danger">
          Supprimer
        </button>
      </td>
    </tr>
  </table>
  <a class="btn btn-link" routerLink="/equipe/edit">Nouvelle équipe</a>
</div>
