<div class="about-container">
  <h1>Listes des Confrontations</h1>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Durée</th>
      <th>Équipe domicile</th>
      <th>Score domicile</th>
      <th>Score visiteur</th>
      <th>Équipe visiteur</th>
      <th>Arbitre</th>
    </tr>
    <tr *ngFor="let confrontation of confrontations">
      <td>{{ confrontation.id }}</td>
      <td>{{ confrontation.dateConfrontation | date : "dd/MM/yyyy" }}</td>
      <td>
        {{ confrontation.equipe?.ville }} {{ confrontation.equipe?.franchise }}
      </td>
      <td>{{ confrontation.scoreDomicile }}</td>
      <td>{{ confrontation.scoreVisiteur }}</td>
      <td>
        {{ confrontation.equipeVisiteur?.ville }}
        {{ confrontation.equipeVisiteur?.franchise }}
      </td>

      <td>
        {{ confrontation.arbitre?.prenom }} {{ confrontation.arbitre?.nom }}
      </td>
      <td>
        <a
          class="btn btn-outline-primary"
          routerLink="/confrontation/edit/{{ confrontation.id }}"
          *ngIf="admin"
          >Editer ✏️</a
        >
      </td>
      <td>
        <button
          (click)="deleteConfrontation(confrontation.id!)"
          class="btn btn-outline-danger"
          *ngIf="admin"
        >
          Supprimer 🗑️
        </button>
      </td>
    </tr>
  </table>
  <button
    id="nouveau"
    type="button"
    class="btn btn-outline-success"
    routerLink="/confrontation/edit"
    *ngIf="admin"
  >
    Nouvelle Confrontation ➕
  </button>
</div>
