.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  margin-right: 20px;
}

.nav-link.active {
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  color: rgb(255, 255, 255);
}

.nav-link.active img {
  filter: invert(100%);
}

.custom-button {
  color: rgb(255, 255, 255);
  font-weight: bold;
  outline: none;
}

.nav-link img {
  width: 30px;
  filter: invert(100%);
}

.nav-link.custom-button {
  margin: 10px 5px; /* Ajouter une marge horizontale de 5px */
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
}

.nav-link.active {
  background-color: rgb(171, 38, 38);
}

.nav-pills {
  display: flex;
  justify-content: flex-start; /* Alignement des onglets à gauche */
  align-items: center; /* Alignement vertical au centre des onglets */
}

.nav-pills.sub-menu {
  position: absolute;
  background-color: #ffe680; /* Couleur gold pastel */
  padding: 10px;
  display: block;
}

.nav-pills.sub-menu li {
  margin-bottom: 0px;
}

.nav-pills.sub-menu button {
  width: 100%;
  text-align: left;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: none;
}

.nav-pills.sub-menu button:hover,
.nav-pills.sub-menu button:focus {
  color: white;
  background-color: #e4003d; /* Couleur gold plus foncée */
}

.nav-pills.sub-menu button i {
  margin-right: 10px;
}

#pills-home-tab {
  background-image: url(/assets/images/home.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.message-container {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.message {
  display: inline-block;
  animation: scrollMessage 10s linear infinite;
}

@keyframes scrollMessage {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.nav-link.dropdown-toggle {
  background-color: transparent;
  border: none;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-link.dropdown-toggle:hover {
  background-color: #ddd;
}

.nav-link.dropdown-toggle:focus {
  outline: none;
}
.sub-menu {
  position: absolute;
  background-color: #fff;
  padding: 10px;
  display: none;
  z-index: 1;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.nav-item:hover .sub-menu {
  display: block;
}
.message-container span:first-child {
  filter: invert(100%);
}
