.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  margin-right: 20px;
}

.nav-link.active {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 20px;
  color: black;
}

.nav-link.active img {
  filter: invert(100%);
}

.custom-button {
  color: rgb(0, 0, 0);
  font-weight: bold;
  outline: none;
}

.nav-link img {
  width: 30px;
}

.nav-link.custom-button {
  margin: 10px 5px; /* Ajouter une marge horizontale de 5px */
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
}

.custom-button {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.nav-link.active {
  background-color: darkgray;
  color: white; /* Couleur du texte en blanc */
}

.nav-pills {
  display: flex;
  justify-content: flex-start; /* Alignement des onglets à gauche */
  align-items: center; /* Alignement vertical au centre des onglets */
}

.nav-pills.sub-menu {
  position: absolute;
  background-color: #ffe680; /* Couleur gold pastel */
  padding: 10px;
  display: block;
}

.nav-pills.sub-menu li {
  margin-bottom: 5px;
}

.nav-pills.sub-menu button {
  width: 100%;
  text-align: left;
  color: black;
  background-color: transparent;
  border: none;
}

.nav-pills.sub-menu button:hover,
.nav-pills.sub-menu button:focus {
  color: white;
  background-color: #ffd700; /* Couleur gold plus foncée */
}

.nav-pills.sub-menu button i {
  margin-right: 5px;
}

#pills-home-tab {
  background-image: url(/assets/images/home.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.message-container {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.message {
  display: inline-block;
  animation: scrollMessage 10s linear infinite;
}

@keyframes scrollMessage {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
