<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <span *ngIf="login" class="message-container">
    <span class="message">
      <span style="font-size: 20px">👋</span>
      <span style="font-weight: bold">Bonjour {{ prenom }}</span>
    </span>
  </span>
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <p>
      <button
        class="nav-link custom-button"
        id="pills-about-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-about"
        type="button"
        role="tab"
        aria-controls="pills-about"
        aria-selected="false"
        routerLink="/about"
        routerLinkActive="active"
      >
        About
      </button>
    </p>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active"
        id="pills-home-tab"
        role="tab"
        routerLink="/home"
        routerLinkActive="active"
      >
        <img src="/assets/images/home.png" alt="Home" />
      </a>
    </li>
    <li class="nav-item" role="presentation" *ngIf="!login">
      <a
        class="nav-link"
        id="pills-login-tab"
        role="tab"
        routerLink="/signup"
        routerLinkActive="active"
      >
        <img src="/assets/images/login.png" alt="Login" />
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="pills-login-tab"
        role="tab"
        routerLink="/monCompte"
        routerLinkActive="active"
      >
        Mon compte
      </a>
    </li>
    <li class="nav-item" role="presentation" *ngIf="login">
      <button
        class="nav-link custom-button"
        id="pills-admin-tab"
        data-bs-toggle="pill"
        type="button"
        role="tab"
        aria-controls="pills-admin"
        aria-selected="false"
        (click)="onOutsideClick()"
      >
        <img src="/assets/images/liste.png" alt="Liste" />
      </button>
      <ul
        class="nav nav-pills sub-menu"
        *ngIf="showAdminMenu"
        style="background-color: gold; padding: 10px"
      >
        <li class="nav-item" role="presentation" *ngIf="admin">
          <button
            (click)="showAdminMenu = !showAdminMenu"
            class="nav-link custom-button"
            routerLink="/arbitre"
            routerLinkActive="active"
          >
            <i class="fa fa-shopping-cart"></i> Arbitre
          </button>
        </li>

        <li class="nav-item" role="presentation" *ngIf="admin">
          <button
            (click)="showAdminMenu = !showAdminMenu"
            class="nav-link custom-button"
            routerLink="/compte"
            routerLinkActive="active"
          >
            <i class="fa fa-shopping-cart"></i> Compte
          </button>
        </li>

        <li class="nav-item" role="presentation">
          <button
            (click)="showAdminMenu = !showAdminMenu"
            class="nav-link custom-button"
            routerLink="/confrontation"
            routerLinkActive="active"
          >
            <i class="fa fa-shopping-cart"></i> Confrontation
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            (click)="showAdminMenu = !showAdminMenu"
            class="nav-link custom-button"
            routerLink="/effectif"
            routerLinkActive="active"
          >
            <i class="fa fa-shopping-cart"></i> Effectif
          </button>
        </li>
        <li class="nav-item" role="presentation" *ngIf="admin">
          <button
            (click)="showAdminMenu = !showAdminMenu"
            class="nav-link custom-button"
            routerLink="/equipe"
            routerLinkActive="active"
          >
            <i class="fa fa-shopping-cart"></i> Equipe
          </button>
        </li>

        <li class="nav-item" role="presentation" *ngIf="admin">
          <button
            (click)="showAdminMenu = !showAdminMenu"
            class="nav-link custom-button"
            routerLink="/joueur"
            routerLinkActive="active"
          >
            <i class="fa fa-shopping-cart"></i> Joueur
          </button>
        </li>

        <li class="nav-item" role="presentation" *ngIf="admin || gm">
          <button
            (click)="showAdminMenu = !showAdminMenu"
            class="nav-link custom-button"
            routerLink="/personnel"
            routerLinkActive="active"
          >
            <i class="fa fa-personnel"></i> Personnel
          </button>
        </li>

        <li class="nav-item" role="presentation">
          <button
            (click)="showAdminMenu = !showAdminMenu"
            class="nav-link custom-button"
            routerLink="/reservation"
            routerLinkActive="active"
          >
            <i class="fa fa-reservation"></i> Réservation
          </button>
        </li>
        <li class="nav-item" role="presentation" *ngIf="admin">
          <button
            (click)="showAdminMenu = !showAdminMenu"
            class="nav-link custom-button"
            routerLink="/stade"
            routerLinkActive="active"
          >
            <i class="fa fa-stade"></i> Stade
          </button>
        </li>
        <li class="nav-item" role="presentation" *ngIf="login">
          <button
            (click)="showAdminMenu = !showAdminMenu"
            class="nav-link custom-button"
            routerLink="/achat-billet"
            routerLinkActive="active"
          >
            <i class="fa fa-shopping-cart"></i> Achat
          </button>
        </li>
      </ul>
    </li>
  </ul>

  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="pills-shopping-cart-tab"
      role="tab"
      routerLink="/cart"
      routerLinkActive="active"
    >
      <img src="/assets/images/paniers.png" alt="Shopping Cart" />
    </a>
  </li>
  <li class="nav-item" role="presentation" *ngIf="login">
    <button class="nav-link" id="pills-about-tab" (click)="logoff()">
      <img src="/assets/images/quitter.png" alt="Quit Cart" />
    </button>
  </li>
</ul>
