<div class="container-wrapper">
  <div class="article-container">
    <div class="article-frame">
      <h2 class="article-title">
        La NBA annonce de nouvelles règles pour la saison 2023-2024
      </h2>
      <p class="article-date">Publié le 30 mai 2023</p>
      <hr class="article-divider" />
      <p class="article-description">
        La NBA a récemment annoncé une série de nouvelles règles qui seront
        mises en place lors de la prochaine saison 2023-2024. Ces changements
        visent à rendre le jeu encore plus rapide, dynamique et spectaculaire
        pour les joueurs et les fans.
      </p>
      <img
        src="assets/images/basket1.jpg"
        alt="Image de l'article"
        class="article-image"
      />
      <p class="article-content">
        Parmi les principales modifications, on compte l'introduction d'une
        "règle des 2 secondes" pour les équipes en attaque. Désormais, une
        équipe ne pourra pas passer plus de 2 secondes dans la raquette adverse
        sans prendre un tir ou faire une passe. Cette règle vise à accélérer le
        jeu et à encourager les équipes à prendre des initiatives offensives.
        Une autre modification importante concerne les tirs à 3 points. À partir
        de la saison prochaine, les joueurs auront la possibilité de marquer 4
        points au lieu de 3 s'ils réussissent un tir à 3 points tout en étant
        fauchés. Cette règle vise à récompenser les joueurs qui prennent des
        tirs risqués et à rendre les finales de match encore plus excitantes. En
        outre, la NBA a décidé de réduire le temps d'attente entre les actions
        de jeu en introduisant une limite de temps de 14 secondes pour les
        remises en jeu après une faute ou un tir manqué. Cela permettra de
        maintenir un rythme rapide et continu tout au long du match. Ces
        nouvelles règles ont été élaborées en collaboration avec les joueurs,
        les entraîneurs et les responsables de la NBA afin d'améliorer
        l'expérience du jeu pour tous les acteurs. Les fans peuvent donc
        s'attendre à un basket encore plus passionnant et spectaculaire lors de
        la prochaine saison.
      </p>
      <p>
        N'oubliez pas de consulter notre site régulièrement pour plus
        d'informations sur les dernières actualités du monde du basket.
      </p>
    </div>
  </div>
</div>
