<h1>Edition d'un stade</h1>
<div class="form-group">
  <label for="id">id:</label>
  <input
    id="id"
    [(ngModel)]="stade.id"
    class="form-control"
    placeholder="numero auto"
    readonly
  />
</div>
<div class="form-group">
  <label for="nom">Nom :</label>
  <input id="nom" [(ngModel)]="stade.nom" class="form-control" />
</div>
<div class="form-group">
  <label for="capacite">Capacité :</label>
  <input id="capacite" [(ngModel)]="stade.capacite" class="form-control" />
</div>
<div class="form-group">
  <label for="ville">Ville :</label>
  <input id="ville" [(ngModel)]="stade.ville" class="form-control" />
</div>
<div class="form-group">
  <label for="equipe">Equipe :</label>
  <input id="equipe" [(ngModel)]="stade.equipe" class="form-control" />
</div>
<div>
  <button (click)="save()" class="btn btn-outline-primary">Enregistrer</button>
  <a
    routerLink="/stade"
    routerLinkActive="active"
    class="btn btn-outline-warning"
    >Annuler</a
  >
</div>
