<div class="about-container">
  <h1>Edition d'une équipe</h1>
  <form (ngSubmit)="save()" #form="ngForm">
    <div class="form-group">
      <label for="id"> Id :</label>
      <input
        id="id"
        name="id"
        [(ngModel)]="equipe.id"
        class="form-control"
        placeholder="numero auto"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="nom">Franchise :</label>
      <input
        id="nom"
        name="nom"
        [(ngModel)]="equipe.franchise"
        class="form-control"
        required
        #nomCtrl="ngModel"
      />
      <div *ngIf="nomCtrl.dirty && nomCtrl.invalid" class="alert alert-danger">
        Franchise obligatoire
      </div>
    </div>
    <div class="form-group">
      <label for="ville">Ville :</label>
      <input
        id="ville"
        name="ville"
        [(ngModel)]="equipe.ville"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="capacite">Stade :</label>
      <select
        id="stade"
        class="form-control"
        name="stade"
        [(ngModel)]="equipe.stade"
        [compareWith]="compareById"
      >
        <option [ngValue]="stade" *ngFor="let stade of obsStades | async">
          {{ stade.nom }} {{ stade.ville }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="capacite">Compte :</label>
      <select
        id="compte"
        class="form-control"
        name="compte"
        [(ngModel)]="equipe.compte"
        [compareWith]="compareById"
      >
        <option [ngValue]="compte" *ngFor="let compte of obsComptes | async">
          {{ compte.nom }} {{ compte.prenom }}
        </option>
        <option value=""></option>
      </select>
    </div>
    <br />
    <div>
      <button
        type="submit"
        [disabled]="form.invalid"
        class="btn btn-outline-primary"
      >
        Enregistrer
      </button>
      <a
        routerLink="/equipe"
        routerLinkActive="active"
        class="btn btn-outline-warning"
        >Annuler</a
      >
    </div>
  </form>
</div>
