<footer class="footer">
  <div class="footer-section">
    <h3>Newsletter</h3>
    <p>
      Inscrivez-vous à notre newsletter pour recevoir les dernières actualités.
    </p>
    <app-newsletter></app-newsletter>
    <br />
    <p>Mon site © 2023. Tous droits réservés.</p>
    <!-- Formulaire d'inscription à la newsletter -->
  </div>

  <div class="footer-section">
    <h3>Nous contacter</h3>
    <p>Adresse : 123 Rue du Basket, Ville, Pays</p>
    <p>Téléphone : +123 456 789</p>
    <p>Email : contact@example.com</p>
    <div class="social-icons">
      <a href="https://www.twitter.com/" target="_blank"
        ><img src="/assets/twitter.png" alt="Twitter"
      /></a>
      <a href="https://www.facebook.com/" target="_blank"
        ><img src="/assets/facebook.png" alt="Facebook"
      /></a>
      <a href="https://www.instagram.com/" target="_blank"
        ><img src="/assets/instagram.png" alt="Instagram"
      /></a>
    </div>
  </div>
</footer>
