<div class="about-container">
  <h1>Listes des réservations</h1>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Prix</th>
      <th>Quantité</th>
      <th>Date de réservation</th>
      <th>Confrontation</th>
      <th>Compte</th>
    </tr>

    <ng-container *ngFor="let reservation of reservations">
      <tr *ngIf="isAutorise(reservation)">
        <td>{{ reservation.id }}</td>
        <td>{{ reservation.prix }}</td>
        <td>{{ reservation.quantite }}</td>
        <td>{{ reservation.dateReservation | date : "dd/MM/yyyy" }}</td>
        <td>
          {{
            reservation.confrontation?.dateConfrontation | date : "dd/MM/yyyy"
          }}
          {{ reservation.confrontation?.equipe?.franchise }} vs
          {{ reservation.confrontation?.equipeVisiteur?.franchise }}
        </td>
        <td>{{ reservation.compte?.prenom }} {{ reservation.compte?.nom }}</td>
        <td>
          <a
            class="btn btn-outline-primary"
            routerLink="/reservation/edit/{{ reservation.id }}"
            >Éditer ✏️</a
          >
        </td>
        <td>
          <button
            (click)="deleteReservation(reservation.id!)"
            class="btn btn-outline-danger"
          >
            Supprimer 🗑️
          </button>
        </td>
      </tr>
    </ng-container>
  </table>
  <button
    id="nouveau"
    type="button"
    class="btn btn-outline-success"
    routerLink="/reservation/edit"
  >
    Nouvelle réservation ➕
  </button>
</div>
