<div class="about-container">
  <h1>Liste du personnel</h1>
  <div>
    <input [(ngModel)]="filtre" class="form-control" />
  </div>
  <table class="table">
    <tr>
      <th>Id:</th>
      <th>Nom:</th>
      <th>Prénom:</th>
      <th>Salaire:</th>
      <th>Équipe:</th>
      <th>Rôle:</th>
    </tr>
    <tr *ngFor="let personnel of personnelFiltre()">
      <td>{{ personnel.id }}</td>
      <td>{{ personnel.nom }}</td>
      <td>{{ personnel.prenom }}</td>
      <td>{{ personnel.salaire }}</td>
      <td>{{ personnel.equipe?.franchise }}</td>
      <td>{{ personnel.role_personnel }}</td>
      <td>
        <a
          *ngIf="isAutorise()"
          class="btn btn-outline-primary"
          routerLink="/personnel/edit/{{ personnel.id }}"
          >Editer</a
        >
      </td>
      <td>
        <button
          (click)="deletePersonnel(personnel.id!)"
          class="btn btn-outline-danger"
        >
          Supprimer
        </button>
      </td>
    </tr>
  </table>
  <a class="btn btn-link" routerLink="/personnel/edit">Nouvelle personne</a>
</div>
