<div class="about-container">
  <h1>Liste du personnel</h1>

  <div>
    <input [(ngModel)]="filtre" class="form-control" />
  </div>
  <table class="table">
    <tr>
      <th>Id:</th>
      <th>Nom:</th>
      <th>Prénom:</th>
      <th>Salaire:</th>
      <th>Équipe:</th>
      <th>Rôle:</th>
    </tr>

    <ng-container *ngFor="let personnel of personnelFiltre()">
      <tr *ngIf="isAutorise()">
        <td>{{ personnel.id }}</td>
        <td>{{ personnel.nom }}</td>
        <td>{{ personnel.prenom }}</td>
        <td>{{ personnel.salaire }}</td>
        <td>{{ personnel.equipe?.ville }}</td>
        <td>{{ personnel.role_personnel }}</td>
        <td>
          <a
            class="btn btn-outline-primary"
            routerLink="/personnel/edit/{{ personnel.id }}"
            >Editer</a
          >
        </td>
        <td>
          <button
            (click)="deletePersonnel(personnel.id!)"
            class="btn btn-outline-danger"
          >
            Supprimer
          </button>
        </td>
      </tr>
    </ng-container>
  </table>
  <a class="btn btn-link" routerLink="/personnel/edit">Nouvelle personne</a>
</div>
