<div class="about-container">
  <h1>Listes des joueurs</h1>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Numéro</th>
      <th>Équipe</th>
      <th>Taille</th>
      <th>Poids</th>

      <th>Âge</th>
      <th>Salaire</th>
      <th>Statut</th>
      <th>Poste</th>

      <th>Vitesse</th>
      <th>Endurance</th>
      <th>Force</th>
      <th>Détente</th>
      <th>Agilité</th>
    </tr>
    <tr *ngFor="let joueur of joueurs">
      <td>{{ joueur.id }}</td>
      <td>{{ joueur.prenom }}</td>
      <td>{{ joueur.nom }}</td>
      <td>{{ joueur.numero_maillot }}</td>
      <td>{{ joueur.equipe?.ville }} {{ joueur.equipe?.franchise }}</td>
      <td>{{ joueur.taille }}</td>
      <td>{{ joueur.poids }}</td>

      <!-- <td>{{ joueur.date_naissance | date : "dd/MM/yyyy" }}</td> -->
      <td>{{ calculateAge(joueur.date_naissance!) }}</td>
      <td>{{ joueur.salaire | number : "1.0-0" }}</td>
      <td>{{ joueur.statut }}</td>
      <td>{{ joueur.poste }}</td>

      <td>{{ joueur.aptitudesPhysiques?.vitesse }}</td>
      <td>{{ joueur.aptitudesPhysiques?.endurance }}</td>
      <td>{{ joueur.aptitudesPhysiques?.force }}</td>
      <td>{{ joueur.aptitudesPhysiques?.detente }}</td>
      <td>{{ joueur.aptitudesPhysiques?.agilite }}</td>

      <td>
        <button
          *ngIf="admin"
          class="btn btn-outline-primary"
          routerLink="/joueur/edit/{{ joueur.id }}"
        >
          Éditer ✏️
        </button>
      </td>

      <td>
        <button
          *ngIf="admin"
          (click)="deleteJoueur(joueur.id!)"
          class="btn btn-outline-danger"
        >
          Supprimer 🗑️
        </button>
      </td>
    </tr>
  </table>

  <button
    *ngIf="admin"
    id="nouveau"
    type="button"
    class="btn btn-outline-success"
    routerLink="/joueur/edit"
  >
    Nouveau joueur ➕
  </button>
</div>
