<div class="about-container">
  <h2>A Propos</h2>
  <p>
    Le basket est un sport passionnant qui a une origine ancestrale. Il remonte
    à plusieurs siècles et a évolué au fil du temps pour devenir l'un des sports
    les plus populaires dans le monde entier. Notre équipe de passionnés a
    choisi de créer ce site dédié au basket pour partager notre amour pour ce
    sport et rassembler les amateurs de basket du monde entier.
  </p>
  <br />
  <p>
    Ce projet a été réalisé dans une ambiance de bonne humeur et de
    collaboration. Nous avons travaillé en équipe, mettant nos compétences et
    notre passion collective pour le basket au service de ce site. Nous espérons
    que vous apprécierez l'expérience de navigation et les fonctionnalités que
    nous avons développées pour vous.
  </p>

  <h2>Présentation de la Team</h2>

  <div class="d-flex flex-wrap">
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <img
          src="basketball_player1.jpg"
          class="card-img-top"
          alt="Basketball Player 1"
        />

        <div class="card-body">
          <h5 class="card-title">Bernadette</h5>
          <p class="card-text">
            Passionnée de basketball depuis son enfance, Bernadette apporte une
            expertise inégalée à notre équipe. Elle excelle dans le domaine de
            l'analyse tactique et aime partager ses connaissances avec les
            autres fans de basketball.
          </p>
          <a href="#" class="btn btn-primary">En savoir plus...</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card">
        <img
          src="basketball_player2.jpg"
          class="card-img-top"
          alt="Basketball Player 2"
        />

        <div class="card-body">
          <h5 class="card-title">El-hafid</h5>
          <p class="card-text">
            Ancien joueur professionnel, El-hafid apporte son expérience sur le
            terrain à notre équipe. Il est spécialisé dans l'entraînement
            physique et la préparation mentale des athlètes. Ses conseils sont
            précieux pour tous ceux qui cherchent à améliorer leur jeu.
          </p>
          <a href="#" class="btn btn-primary">En savoir plus...</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card">
        <img
          src="basketball_player3.jpg"
          class="card-img-top"
          alt="Basketball Player 3"
        />

        <div class="card-body">
          <h5 class="card-title">Erwan</h5>
          <p class="card-text">
            Erwan est un passionné de basketball depuis son plus jeune âge. Il a
            développé une expertise dans le domaine de la collecte de
            statistiques et de l'analyse de données. Ses connaissances
            approfondies aident notre équipe à fournir des informations précises
            et intéressantes sur le sport.
          </p>
          <a href="#" class="btn btn-primary">En savoir plus...</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card">
        <img
          src="basketball_player4.jpg"
          class="card-img-top"
          alt="Basketball Player 4"
        />

        <div class="card-body">
          <h5 class="card-title">Insaf</h5>
          <p class="card-text">
            Insaf est une joueuse de basketball talentueuse et une fervente
            défenseuse de l'égalité dans le sport. Elle partage son expérience
            en tant que femme dans le monde du basketball et encourage
            l'inclusion et la diversité.
          </p>
          <a href="#" class="btn btn-primary">En savoir plus...</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card">
        <img
          src="basketball_player5.jpg"
          class="card-img-top"
          alt="Basketball Player 5"
        />

        <div class="card-body">
          <h5 class="card-title">Léa</h5>
          <p class="card-text">
            Léa est une passionnée de basketball qui combine son amour pour le
            sport avec ses compétences en design. Elle apporte une touche
            créative à notre équipe en concevant des interfaces utilisateur
            attrayantes pour notre site.
          </p>
          <a
            href="https://www.linkedin.com/in/l%C3%A9a-simonet-884615172/"
            class="btn btn-primary"
            >En savoir plus...</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
