<div class="about-container">
  <h2>A Propos</h2>
  <p>
    Le basket est un sport passionnant qui a une origine ancestrale. Il remonte
    à plusieurs siècles et a évolué au fil du temps pour devenir l'un des sports
    les plus populaires dans le monde entier. Notre équipe de passionnés a
    choisi de créer ce site dédié au basket pour partager notre amour pour ce
    sport et rassembler les amateurs de basket du monde entier.
  </p>
  <br />
  <p>
    Ce projet a été réalisé dans une ambiance de bonne humeur et de
    collaboration. Nous avons travaillé en équipe, mettant nos compétences et
    notre passion collective pour le basket au service de ce site. Nous espérons
    que vous apprécierez l'expérience de navigation et les fonctionnalités que
    nous avons développées pour vous.
  </p>

  <h2>Présentation de la Team</h2>

  <div class="d-flex flex-row">
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="..." />

        <div class="card-body">
          <h5 class="card-title">Bernadette</h5>
          <p class="card-text">Redirection vers un lien ?</p>
          <a href="#" class="btn btn-primary">En savoir plus...</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="..." />

        <div class="card-body">
          <h5 class="card-title">El-hafid</h5>
          <p class="card-text">Redirection vers un lien ?</p>
          <a href="#" class="btn btn-primary">En savoir plus...</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="..." />

        <div class="card-body">
          <h5 class="card-title">Erwan</h5>
          <p class="card-text">Redirection vers un lien ?</p>
          <a href="#" class="btn btn-primary">En savoir plus...</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="..." />

        <div class="card-body">
          <h5 class="card-title">Insaf</h5>
          <p class="card-text">Redirection vers un lien ?</p>
          <a href="#" class="btn btn-primary">En savoir plus...</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="..." />

        <div class="card-body">
          <h5 class="card-title">Léa</h5>
          <p class="card-text">Redirection vers un lien ?</p>
          <a
            href="https://www.linkedin.com/in/l%C3%A9a-simonet-884615172/"
            class="btn btn-primary"
            >En savoir plus...</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
