.custom-button {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.nav-link.active {
  background-color: darkgray;
  color: white; /* Couleur du texte en blanc */
}
.nav-pills.sub-menu {
  position: absolute;
  background-color: #ffe680; /* Couleur gold pastel */
  padding: 10px;
  display: block;
}

.nav-pills.sub-menu li {
  margin-bottom: 5px;
}

.nav-pills.sub-menu button {
  width: 100%;
  text-align: left;
  color: black;
  background-color: transparent;
  border: none;
}

.nav-pills.sub-menu button:hover,
.nav-pills.sub-menu button:focus {
  color: white;
  background-color: #ffd700; /* Couleur gold plus foncée */
}

.nav-pills.sub-menu button i {
  margin-right: 5px;
}

#pills-home-tab {
  background-image: url(/assets/images/home.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
