<div class="container">
  <h1 class="title">Bienvenue sur notre site de basket</h1>

  <div class="actualites">
    <h2>Actualités</h2>
    <div class="actualites-list">
      <div class="actualite-item">
        <img
          src="assets/actualite1.jpg"
          alt="Actualité 1"
          class="actualite-image"
        />
        <h3 class="actualite-title">Titre de l'actualité 1</h3>
        <p class="actualite-description">Description de l'actualité 1</p>
        <a routerLink="/actualite/1" class="actualite-link">Lire plus</a>
      </div>
      <div class="actualite-item">
        <img
          src="assets/actualite2.jpg"
          alt="Actualité 2"
          class="actualite-image"
        />
        <h3 class="actualite-title">Titre de l'actualité 2</h3>
        <p class="actualite-description">Description de l'actualité 2</p>
        <a routerLink="/actualite/2" class="actualite-link">Lire plus</a>
      </div>
      <div class="actualite-item">
        <img
          src="assets/actualite3.jpg"
          alt="Actualité 3"
          class="actualite-image"
        />
        <h3 class="actualite-title">Titre de l'actualité 3</h3>
        <p class="actualite-description">Description de l'actualité 3</p>
        <a routerLink="/actualite/3" class="actualite-link">Lire plus</a>
      </div>
    </div>
  </div>

  <div class="videos">
    <h2>Vidéos de performances</h2>
    <div class="videos-list">
      <div class="video-item">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/CXLM08fZO5o"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        ></iframe>
        <h3 class="video-title">NBA Epic Moments</h3>
      </div>
      <div class="video-item">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/P5_xgip67ac"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        ></iframe>
        <h3 class="video-title">Stephen Curry's Best Play</h3>
      </div>
    </div>
  </div>
</div>
