<div class="container">
  <h1 class="title">Bienvenue sur notre site de basket</h1>

  <!-- Barre de recherche -->
  <div class="search-bar">
    <input
      type="text"
      class="search-input"
      placeholder="Rechercher..."
      [(ngModel)]="searchTerm"
    />
    <button class="search-button" (click)="search()">Rechercher</button>
  </div>

  <div class="last-scores">
    <h2>Derniers scores</h2>
    <div class="score-item">
      <h3 class="score-title">Match 1</h3>
      <p class="score-description">Équipe A vs Équipe B</p>
      <p class="score-result">Résultat : Équipe A 90 - Équipe B 85</p>
    </div>
    <div class="score-item">
      <h3 class="score-title">Match 2</h3>
      <p class="score-description">Équipe C vs Équipe D</p>
      <p class="score-result">Résultat : Équipe C 75 - Équipe D 80</p>
    </div>
    <!-- Ajoutez d'autres scores ici -->
  </div>
  <app-articles></app-articles>

  <div class="videos">
    <h2>Vidéos de performances</h2>
    <div class="videos-list">
      <div class="video-item">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/CXLM08fZO5o"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        ></iframe>
        <h3 class="video-title">NBA Epic Moments</h3>
      </div>
      <div class="video-item">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/51CHNtNlFR8"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        ></iframe>
        <h3 class="video-title">
          100 LEGENDARY LeBron James Highlights & Moments 🐐 👑
        </h3>
      </div>
    </div>
  </div>

  <div class="sondage-quiz">
    <app-sondage-quiz></app-sondage-quiz>
  </div>
</div>
