<div class="about-container">
  <h1>Listes des Arbitres</h1>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Anciennete</th>
      <th>Nationalite</th>
    </tr>
    <tr *ngFor="let arbitre of arbitres">
      <td>{{ arbitre.id }}</td>
      <td>{{ arbitre.nom }}</td>
      <td>{{ arbitre.prenom }}</td>
      <td>{{ arbitre.anciennete }}</td>
      <td>{{ arbitre.nationalite }}</td>
      <td>
        <a
          class="btn btn-outline-primary"
          routerLink="/arbitre/edit/{{ arbitre.id }}"
          >Editer ✏️</a
        >
      </td>
      <td>
        <button
          (click)="deleteArbitre(arbitre.id!)"
          class="btn btn-outline-danger"
        >
          Supprimer 🗑️
        </button>
      </td>
    </tr>
  </table>
  <button
    id="nouveau"
    type="button"
    class="btn btn-outline-success"
    routerLink="/arbitre/edit"
  >
    Nouvel arbitre ➕
  </button>
</div>
