<div class="about-container">
  <h1>Edition d' une Confrontation</h1>
  <form (ngSubmit)="save()" #form="ngForm">
    <div class="form-group">
      <label for="id">id:</label>
      <input
        id="id"
        name="id"
        [(ngModel)]="confrontation.id"
        class="form-control"
        placeholder="numero auto"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="dateConfrontation">dateConfrontation:</label>
      <input
        id="dateConfrontation"
        name="dateConfrontation"
        [(ngModel)]="confrontation.dateConfrontation"
        class="form-control"
        required
        #dateConfrontationCtrl="ngModel"
      />
      <div
        *ngIf="dateConfrontationCtrl.dirty && dateConfrontationCtrl.invalid"
        class="alert alert-danger"
      >
        dateConfrontation obligatoire
      </div>
    </div>

    <div class="form-group">
      <label for="duree">duree:</label>
      <input
        id="duree"
        name="duree"
        [(ngModel)]="confrontation.duree"
        class="form-control"
        required
        #dureeCtrl="ngModel"
      />
      <div
        *ngIf="dureeCtrl.dirty && dureeCtrl.invalid"
        class="alert alert-danger"
      >
        duree obligatoire
      </div>
    </div>

    <div class="form-group">
      <label for="scoreDomicile">scoreDomicile:</label>
      <input
        id="scoreDomicile"
        name="scoreDomicile"
        [(ngModel)]="confrontation.scoreDomicile"
        class="form-control"
        required
        #scoreDomicileCtrl="ngModel"
      />
      <div
        *ngIf="scoreDomicileCtrl.dirty && scoreDomicileCtrl.invalid"
        class="alert alert-danger"
      >
        scoreDomicile obligatoire
      </div>
    </div>

    <div class="form-group">
      <label for="scoreVisiteur">scoreVisiteur:</label>
      <input
        id="scoreVisiteur"
        name="scoreVisiteur"
        [(ngModel)]="confrontation.scoreVisiteur"
        class="form-control"
        required
        #scoreVisiteurCtrl="ngModel"
      />
      <div
        *ngIf="scoreVisiteurCtrl.dirty && scoreVisiteurCtrl.invalid"
        class="alert alert-danger"
      >
        scoreVisiteur obligatoire
      </div>
    </div>

    <div class="form-group">
      <label for="arbitre">arbitre:</label>
      <select
        id="arbitre"
        [(ngModel)]="confrontation.arbitre"
        class="form-control"
        name="arbitre"
        [compareWith]="compareById"
        required
      >
        <option [ngValue]="arbitre" *ngFor="let arbitre of obsArbitres | async">
          {{ arbitre.nom }} {{ arbitre.nationalite }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="equipe">equipe:</label>
      <select
        id="equipe"
        [(ngModel)]="confrontation.equipe"
        class="form-control"
        name="equipe"
        [compareWith]="compareById"
        required
      >
        <option [ngValue]="equipe" *ngFor="let equipe of obsEquipes | async">
          {{ equipe.franchise }} {{ equipe.ville }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="reservation">reservation:</label>
      <select
        id="reservation"
        [(ngModel)]="confrontation.reservation"
        class="form-control"
        name="reservation"
        [compareWith]="compareById"
        required
      >
        <option
          [ngValue]="reservation"
          *ngFor="let reservation of obsReservations | async"
        >
          {{ reservation.prix }} {{ reservation.dateReservation }}
        </option>
      </select>
    </div>

    <div>
      <button
        type="submit"
        [disabled]="form.invalid"
        class="btn btn-outline-primary"
      >
        enregistrer
      </button>
      <a
        routerLink="/confrontation"
        routerLinkActive="active"
        class="btn btn-outline-warning"
        >annuler</a
      >
    </div>
  </form>
</div>
