.about-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

#id {
  color: #888888;
  background-color: #dfdfdf;
}

.modal.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.modal.fade.show {
  opacity: 1;
}
