<div class="about-container">
  <table class="table">
    <tr>
      <th></th>
      <th>ID</th>
      <th>Nom</th>
      <th>Capacité</th>
      <th>Ville</th>
    </tr>
    <tr *ngFor="let stade of stadeFiltre()">
      <td>
        <input type="checkbox" [(ngModel)]="stade.isChecked" />
      </td>
      <td>{{ stade.id }}</td>
      <td>{{ stade.nom }}</td>
      <td>{{ stade.capacite }}</td>
      <td>{{ stade.ville }}</td>
      <td>
        <a
          class="btn btn-outline-primary"
          routerLink="/stade/edit/{{ stade.id }}"
          >Editer ✏️</a
        >
      </td>
    </tr>
  </table>
  <button
    id="nouveau"
    type="button"
    class="btn btn-outline-danger"
    (click)="deleteSelectedStades()"
  >
    Supprimer sélection 🗑️
  </button>
</div>
