.about-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.table th:first-child,
.table td:first-child {
  width: 30px;
  text-align: center;
}

.btn-outline-danger {
  margin-top: 10px;
}
