<div class="actualites">
  <div class="actualites-list">
    <div class="actualite-item">
      <img
        src="assets/images/basket1.jpg"
        alt="Actualité Sur Stephen Curry"
        class="actualite-image"
      />
      <h3 class="actualite-title">
        "Nouvelles règles de la NBA pour la saison 2023-2024 : un jeu plus
        rapide et spectaculaire"
      </h3>
      <p class="actualite-description">
        La NBA a récemment annoncé une série de nouvelles règles qui seront
        mises en place lors de la prochaine saison 2023-2024. Ces changements
        visent à rendre le jeu encore plus rapide, dynamique et spectaculaire
        pour les joueurs et les fans.
      </p>
      <a routerLink="/actualite/actualite1" class="actualite-link"
        >Lire plus...</a
      >
    </div>
    <div class="actualite-item">
      <img
        src="assets/images/basket2.jpg"
        alt="Actualité 2"
        class="actualite-image"
      />
      <h3 class="actualite-title">
        "La montée en puissance des équipes nationales de basketball : Un nouvel
        élan pour la compétition internationale"
      </h3>
      <p class="actualite-description">
        Le basketball est un sport qui connaît une popularité croissante à
        travers le monde, et les équipes nationales ne font pas exception. Ces
        dernières années, nous avons assisté à une montée en puissance des
        équipes nationales de basketball, marquant ainsi un nouvel élan pour la
        compétition internationale.
      </p>
      <a routerLink="/actualite/actualite2" class="actualite-link"
        >Lire plus..</a
      >
    </div>
    <div class="actualite-item">
      <img
        src="assets/images/basket3.jpg"
        alt="Actualité 3"
        class="actualite-image"
      />
      <h3 class="actualite-title">
        "L'émergence d'une jeune star : Leila Anderson, le futur du basketball
        féminin"
      </h3>
      <p class="actualite-description">
        Le monde du basketball féminin est en effervescence avec l'émergence
        d'une jeune joueuse prodige : Leila Anderson. Âgée de seulement 19 ans,
        Leila est en train de faire sensation sur les terrains et devenir une
        véritable icône pour la nouvelle génération de joueuses.
      </p>
      <a routerLink="/actualite/actualite3" class="actualite-link"
        >Lire plus...</a
      >
    </div>
  </div>
</div>
