<div class="about-container">
  <h1>La listes des comptes</h1>
  <div><input [(ngModel)]="filtre" class="form-control" /></div>
  <table class="table">
    <tr>
      <th>Id:</th>
      <th>Login:</th>
      <th>Nom:</th>
      <th>Prenom:</th>
      <th>Statut Role:</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let compte of compteFiltre()">
      <td>{{ compte.id }}</td>
      <td>{{ compte.login }}</td>
      <td>{{ compte.nom }}</td>
      <td>{{ compte.prenom }}</td>
      <td>{{ compte.statutRole }}</td>
      <td>
        <a
          class="btn btn-outline-primary"
          routerLink="/compte/edit/{{ compte.id }}"
          >Editer</a
        >
      </td>
      <td>
        <button
          (click)="deleteCompte(compte.id!)"
          class="btn btn-outline-danger"
        >
          Supprimer
        </button>
      </td>
    </tr>
  </table>
  <app-compte-edit></app-compte-edit>
</div>
