.logo img {
  max-width: 200px;
  height: auto;
  filter: invert(100%); /* Inverser les couleurs du logo */
}

.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black; /* Définir le fond en noir */
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 20px;
}
