.header {
  background-image: url("src\assets\images\header.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  max-width: 200px;
  height: auto;
}

.logo {
  margin-right: 20px; /* Ajoutez une marge à droite pour espacer le logo des boutons */
}
